html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ececec;
  color: #757575;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body a {
  text-decoration: none;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
b,
button {
  user-select: none;
}

/*  ===========> */

body {
  display: flex;

  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
